body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Verdana', 'sans-serif';
}
/* header con logo a sinistra e link a destra */
.header {
    display: flex;
    justify-content: space-around; /*posiziona il logo a sinistra e il menù di navigazione a destra */
    padding: 20px;
    background-color: #1F2937;
    color: white;
    align-items: center; /* Allinea gli elementi verticalmente */
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Spazio tra gli elementi */
    
}

nav ul a {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

nav ul a:hover {
    color: aqua;
    outline: none;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    color:#E5E7EB;
}

.hero_text {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 24px;
}

.hero_img {
    border: 3px solid #F9FAF8;
}

.hero p {
    font-weight: normal;
    font-size: 18px;
}

button {
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}